body {
    font-family: "Lavishly Yours", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#main-container {
    max-width: 100%;
    width: 100%;
}

#inspiration-container {
    background-color: white;
    border: 3px solid #333;
    border-radius: 15px;
    padding: 15px;
    margin: 2px;
    max-width: 90%;
    width: 90%;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#inspiration-body {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 56px;
}

#inspiration-post {
    font-size: 24px;
}

canvas {
    position: absolute;
}

