body {
    font-family: "Lavishly Yours", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#main-container {
    max-width: 100%;
    width: 100%;
}

#inspiration-container {
    background-color: white;
    border: 3px solid #333;
    border-radius: 15px;
    padding: 15px;
    margin: 2px;
    max-width: 90%;
    width: 90%;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#inspiration-body {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 56px;
}

#inspiration-post {
    font-size: 24px;
}

canvas {
    position: absolute;
}

#history-button, #back-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    z-index: 500;
}

#history-container {
    background-color: white;
    border: 3px solid #333;
    border-radius: 15px;
    padding: 15px;
    margin: 2px;
    max-width: 90%;
    width: 90%;
    height: auto;
    /* text-align: center; */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
}

#history-container .date-label {
    text-align: center;
    padding-bottom: 5px;
}

#history-container button {
    padding: 5px;
}

.history-item-button {
    width: 50px;
    height: 50px;
    margin: 1px;
}

button.strufi {
    border: 8px solid purple;
}

button.shamana {
    border: 8px dashed purple;
}

button.games {
    border: 8px solid orange;
}

button.effects {
    border: 8px solid red;
}

button.songs {
    border: 8px solid brown;
}

button.facts {
    border: 8px solid blue;
}

button.humour {
    border: 8px solid yellow;
}

button.adv {
    border: 8px dashed black;
}

button.wedding {
    border: 8px dashed pink;
}

button.movies {
    border: 8px dashed gray;
}

button.useless_websites {
    border: 8px dashed green;
}

